<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"
           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder
           .replacePath('/requests')
           .replaceQueryParam('page', 1)
           .build(false).toUriString()}">Запросы</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/new">Новый запрос</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Фильтр <span class="badge badge-secondary"
                                     th:if="${filter.isEnabled()}"
                                     th:text="${requests.getTotalElements()<100 ? requests.getTotalElements() : '99+'}"
                                     data-toggle="tooltip"
                                     data-placement="left"
                                     th:title="${requests.getTotalElements()}">99+</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#"
                           th:text="${filter.isEnabled() ? 'Изменить' : 'Создать'}">Создать</a>
                        <a class="dropdown-item" href="/requests">Отменить</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/unload">Выгрузка</a>
                </li>
            </ul>

        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="#" th:action="@{/requests}" method="get">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Фильтр</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="filterRequestId">Код запроса</label>
                                        <input class="form-control" type="text" name="id" id="filterRequestId"
                                               th:value="${filter.getId()}"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="filterOutNumber">Исх. №</label>
                                        <input class="form-control" type="text" name="outNumber" id="filterOutNumber"
                                               th:value="${filter.getOutNumber()}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="filterSmav">№ СМЭВ</label>
                                        <input class="form-control" type="text" name="smav" id="filterSmav"
                                               th:value="${filter.getSmav()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="filterSubjaect">Тема</label>
                                        <input class="form-control" type="text" name="subject" id="filterSubjaect"
                                               th:value="${filter.getSubject()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="filterAnswer">Ответ кратко</label>
                                        <input class="form-control" type="text" name="answer" id="filterAnswer"
                                               th:value="${filter.getAnswer()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="caseIns"
                                               id="isUrgentCheck"
                                               th:checked="${filter.getCaseInsensitive()}">
                                        <label class="form-check-label" for="isUrgentCheck">
                                            Без учета регистра букв
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <label>Дата исполнения</label>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="formExecuteDateInputFrom"
                                               class="col-sm-1 col-form-label d-flex justify-content-end">c:</label>
                                        <div class="col-sm-5">
                                            <input type="date" class="form-control" name="executeDateFrom"
                                                   id="formExecuteDateInputFrom"
                                                   th:value="${filter.getExecuteDateFrom()}">
                                        </div>
                                        <label for="formExecuteDateInputTo"
                                               class="col-sm-1 col-form-label d-flex justify-content-end">по:</label>
                                        <div class="col-sm-5">
                                            <input type="date" class="form-control" name="executeDateTo"
                                                   id="formExecuteDateInputTo"
                                                   th:value="${filter.getExecuteDateTo()}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="formExecutorSelect">Исполнил</label>
                                        <select class="form-control" name="executor" id="formExecutorSelect">
                                            <option selected></option>
                                            <option th:each="executor : ${executors}"
                                                    th:selected="${executor.getName().equals(filter.getExecutor())}"
                                                    th:text="${executor.getName()}"
                                            >
                                                Default select
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="formInNumberFromOrg">Входящий № орг.</label>
                                        <input class="form-control" type="text" id="formInNumberFromOrg"
                                               name="inNumFromOrg"
                                               th:value="${filter.getInNumFromOrg()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="formInNumberFromOrg">Инициатор</label>
                                        <input class="form-control" type="text" id="initiator"
                                               name="initiator"
                                               th:value="${filter.getInitiator()}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="formInNumberFromOrg">Пересылка</label>
                                        <input class="form-control" type="text" id="shipment"
                                               name="shipment"
                                               th:value="${filter.getShipment()}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                            <button type="submit" class="btn btn-primary">Применить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>