body {
    font-family: 'Times New Roman', serif;
    font-size: 18pt;
}
p {
    text-indent: 1.25cm;
    text-align: justify
}
.page-footer-space {
    height: 30mm;
}

.page-footer-code {
    position: fixed;
    bottom: 10mm;
    right: 20mm;
    font-size: 15pt
}

.page-footer-executor {
    position: fixed;
    bottom: 10mm;
    left: 25mm;
    font-size: 15pt
}

.page {
    page-break-after: always;
    padding: 0 20mm 0 25mm;
    margin: 0
}

@media print {
    tfoot {
        display: table-footer-group;
    }

    button {
        display: none;
    }

    body {
        margin: 0;
    }
}