<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Тема</th>
            <th>Вопрос (кратко)</th>
            <th>Ответ (кратко)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <td th:text="${request.getId()}">№</td>
            <td th:text="${request.getSubject()}">Тема</td>
            <td th:text="${request.getShortRequest()}">Вопрос (кратко)</td>
            <td th:text="${request.getShortAnswer()}">Ответ (кратко)</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>