<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container mt-4">


    <table class="table table-sm table-hover">
        <thead>
        <tr class="row">
            <th class="col-1" scope="col">№</th>
            <th class="col-7" scope="col">Тема</th>
            <th class="col-1" scope="col">Исх. номер</th>
            <th class="col-1" scope="col">Дата исполнения</th>
            <th class="col-2" scope="col">Исполнитель</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row" th:each="request : ${requests}">
            <td class="col-1" scope="row">
                <a th:href="@{/requests/{requestId}(requestId=${request.getId()})}">
                    <span
                            th:text="${request.getId()}">Изменить
                    </span>
                </a>
            </td>
            <td class="col-7" scope="row" th:text="${request.getSubject()}"></td>
            <td class="col-1" scope="row" th:text="${request.getInNumber()}"></td>
            <td class="col-1" scope="row" th:text="${#temporals.format(request.getEndDate(), 'dd.MM.yyyy')}"></td>
            <td class="col-2" scope="row" th:text="${request.getExecutor().getName()}"></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${requests.number == 0} ? disabled">
                <a class="page-link"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageSize', selectedPageSize).replaceQueryParam('page', 1).build(false).toUriString()}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${requests.number == 0} ? disabled">
                <a class="page-link"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageSize', selectedPageSize).replaceQueryParam('page', requests.number).build(false).toUriString()}">&larr;</a>
            </li>
            <li class="page-item"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"
                th:classappend="${requests.number == (page - 1)} ? active">
                <!--                <a class="page-link" th:href="@{/requests/(pageSize=${selectedPageSize}, page=${page})}"-->
                <!--                https://stackoverflow.com/questions/27623405/thymeleaf-add-parameter-to-current-url?answertab=oldest#tab-top-->
                <a class="page-link"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageSize', selectedPageSize).replaceQueryParam('page', page).build(false).toUriString()}"
                th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${requests.number + 1 == requests.totalPages} ? disabled">
                <a class="page-link"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageSize', selectedPageSize).replaceQueryParam('page', requests.number + 2).build(false).toUriString()}">&rarr;</a>
            </li>
            <li class="page-item" th:classappend="${requests.number + 1 == requests.totalPages} ? disabled">
                <a class="page-link"
                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                   th:href="${urlBuilder.replaceQueryParam('pageSize', selectedPageSize).replaceQueryParam('page', requests.totalPages).build(false).toUriString()}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>