<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container mt-4">


    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Рубрика</th>
            <th scope="col">Тема</th>
            <th scope="col">Тема</th>
            <th scope="col">Вопрос (кратко)</th>
            <th scope="col">Ответ (кратко)</th>
            <th scope="col">Срочный</th>
            <th scope="col">Дата получения</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="request : ${requests}">
            <th scope="row"><a th:href="@{/requests/{requestId}(requestId=${request.getId()})}"><span
                    th:text="${request.getId()}">Изменить</span></a></th>
            <td th:text="${request.getRubric().getName()}">Рубрика</td>
            <td th:text="${request.getTheme().getName()}">Тема</td>
            <td th:text="${request.getSubject()}">Тема</td>
            <td th:text="${request.getShortRequest()}">Вопрос (кратко)</td>
            <td th:text="${request.getShortAnswer()}">Ответ (кратко)</td>
            <td th:text="${request.isUrgent()}">Срочный</td>
            <td th:text="${#temporals.format(request.getReceiptDate(), 'dd.MM.yyyy')}">Дата полученя</td>

        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${requests.number == 0} ? disabled">
                <a class="page-link"
                   th:href="@{/requests/(pageSize=${selectedPageSize}, page=1)}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${requests.number == 0} ? disabled">
                <a class="page-link"
                   th:href="@{/requests/(pageSize=${selectedPageSize}, page=${requests.number})}">&larr;</a>
            </li>
            <li class="page-item"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"
            th:classappend="${requests.number == (page - 1)} ? active">
                <a class="page-link" th:href="@{/requests/(pageSize=${selectedPageSize}, page=${page})}"
                   th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${requests.number + 1 == requests.totalPages} ? disabled">
                <a class="page-link"
                   th:href="@{/requests/(pageSize=${selectedPageSize}, page=${requests.number + 2})}">&rarr;</a>
            </li>
            <li class="page-item" th:classappend="${requests.number + 1 == requests.totalPages} ? disabled">
                <a class="page-link"
                   th:href="@{/requests/(pageSize=${selectedPageSize}, page=${requests.totalPages})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>