<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<br>
<div class="container">
    <!-- Не дает отправлять POST запрос при обновлении страницы -->
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

    <div th:if="${unloadModels}"
         class="alert alert-success" role="alert">
        <h4 class="alert-heading" th:utext="'Всего: ' + ${countOfRecords}"></h4>
        <table>
            <thead>
            <tr>
                <th>Рубрики</th>
                <th>Копий</th>
                <th>Кол-во</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="unloadModel : ${unloadModels}">
                <td th:utext="${unloadModel.getRubricCode()}">...</td>
                <td th:utext="${unloadModel.getCopyNumber()}">...</td>
                <td th:utext="${unloadModel.getCountOfRequests()}">...</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${errorMessage}"
         th:utext="${errorMessage}"
         class="alert alert-danger" role="alert">
        ...
    </div>

    <form th:action="@{/unload}"
          th:object="${unloadFilter}"
          method="POST">
        <div class="input-group">
            <div class="form-group">
                <label for="formSourceSelect">Тип отправления</label>
                <select class="form-control" id="formSourceSelect" name="sourceId">
                    <option th:value="0">[Не выбрано]</option>
                    <option th:each="source : ${sources}"
                            th:value="${source.getId()}"
                            th:text="${source.getName()}"
                            th:selected="${unloadFilter.getSourceId() == source.getId()}">
                        Default select
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="formExecutorSelect">Исполнитель</label>
                <select class="form-control" id="formExecutorSelect" name="executorId">
                    <option th:value="0">[Не выбрано]</option>
                    <option th:each="executor : ${executors}"
                            th:value="${executor.getId()}"
                            th:text="${executor.getName()}"
                            th:selected="${unloadFilter.getExecutorId() == executor.getId()}">
                        Default select
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="entity">Юр. лицо</label>
                <select class="form-control" id="entity" name="isEntity">
                    <option th:value="0"
                            th:selected="${unloadFilter.getIsEntity() == '0'}">[Не выбрано]
                    </option>
                    <option th:value="true"
                            th:selected="${unloadFilter.getIsEntity() == 'true'}">Да
                    </option>
                    <option th:value="false"
                            th:selected="${unloadFilter.getIsEntity() == 'false'}">Нет
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="dateFrom">С какого</label>
                <input type="date" class="form-control" id="dateFrom" name="dateFrom" th:value="*{dateFrom}"/>
            </div>
            <div class="form-group">
                <label for="dateTo">По какое</label>
                <input type="date" class="form-control" id="dateTo" name="dateTo" th:value="*{dateTo}"/>
            </div>
        </div>

        <script>
            function checkAll() {
                let checkboxes = document.querySelectorAll('input[type="checkbox"]');
                for (let i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            }
            
            function uncheckAll() {
                let checkboxes = document.querySelectorAll('input[type="checkbox"]');
                for (let i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        </script>
        <input type="button" class="btn btn-primary" onclick="checkAll();" value="Отметить все"/>
        <input type="button" class="btn btn-secondary" onclick="uncheckAll();" value="Снять все"/>


        <div class="form-group">
            <table>
                <thead>
                <tr>
                    <th>Рубрики</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rubric : ${rubrics}">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="rubrics"
                                   th:value="${rubric.getRubric()}"
                                   th:id="${rubric.getRubric()}"
                                   th:checked="${unloadFilter.isCheckedRubric(rubric.getRubric())}"/>
                            <label class="form-check-label"
                                   th:for="${rubric.getRubric()}"
                                   th:text="${rubric.getRubric()} + ' ' + ${rubric.getName()}"></label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Посчитать">
            <a class="btn btn-secondary" href="/requests" role="button">Назад</a>
        </p>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>